@font-face {
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    src: url('/fonts/Inter/Inter-Thin-BETA.otf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/Inter/Inter-ExtraLight-BETA.otf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 250;
    font-style: normal;
    src: url('/fonts/Inter/Inter-ExtraLight.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Inter/Inter-Light.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Inter/Inter-Regular.ttf');
}


@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Inter/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Inter/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: normal;
    src: url('/fonts/Inter/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    src: url('/fonts/Inter/Inter-Black.ttf');
}


@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 100;
    font-style: normal;
    src: url('/fonts/Helveticaneuecyr/helveticaneuecyr-thin.ttf');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/Helveticaneuecyr/helveticaneuecyr-ultralight.ttf');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 300;
    font-style: normal;
    src: url('/fonts/Helveticaneuecyr/helveticaneuecyr-light.ttf');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Helveticaneuecyr/helveticaneuecyr-roman.ttf');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 550;
    font-style: normal;
    src: url('/fonts/Helveticaneuecyr/helveticaneuecyr-medium.ttf');
}


@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Helveticaneuecyr/helveticaneuecyr-bold.ttf');
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-weight: 900;
    font-style: normal;
    src: url('/fonts/Helveticaneuecyr/helveticaneuecyr-black.ttf');
}
