.modal-wrapper {
    display: none;
}

.modal-wrapper::before {
    content: "";
    background-color: #0e1237;
    opacity: 0.6;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;

    .registration-modal {
        width: 630px;
    }

    .modal__window {
        position: relative;
        background-color: #ffffff;
        padding: 75px 80px 80px 80px;
        display: flex;
        flex-direction: column;
        row-gap: 28px;

        .modal-header__exit {
            position: absolute;
            top: 35px;
            right: 44px;
            cursor: pointer;
        }

        .modal__form {
            display: flex;
            flex-direction: column;
            row-gap: 26px;

            .modal__aggrees {
                display: flex;
                -moz-column-gap: 11px;
                     column-gap: 11px;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"]:checked+.modal-aggrees__checkbox {
                    background: linear-gradient(274.38deg,
                            #8d58e5 3.55%,
                            #722dc7 81.16%);
                    border-color: #f3f3f3;
                }

                .modal-aggrees__checkbox {
                    width: 10px;
                    height: 10px;
                    border: 5px solid #8d58e5;
                    display: block;
                    flex-shrink: 0;
                    cursor: pointer;
                    background: transparent;
                }

                .modal-aggrees__text {
                    font-family: Inter;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 15.6px;
                    letter-spacing: -0.03em;
                    color: #342635;
                }
            }

            .modal__buttons {
                display: flex;
                -moz-column-gap: 46px;
                     column-gap: 46px;
            }
        }

        .modal__header {
            margin-bottom: 25px;

            .modal__headding {
                display: flex;
                flex-direction: column;
                row-gap: 10px;

                .modal-header__title {
                    color: #342635;
                    font-family: "HelveticaNeueCyr", sans-serif;
                    font-size: 60px;
                    font-weight: 700;
                    line-height: 47.5px;
                    letter-spacing: -0.02em;
                }

                .modal-header__subtitle {
                    color: #342635;
                    font-family: "HelveticaNeueCyr", sans-serif;
                    font-size: 60px;
                    font-weight: 300;
                    line-height: 57px;
                    letter-spacing: 0.02em;
                    padding-bottom: 18px;
                    border-bottom: 1px solid #9a939a;
                }
            }
        }

        .modal__notification {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .modal-notification__icon {
                display: flex;
                justify-content: center;
            }

            .modal-notification__header {
                margin: 36px 0 23px 0;
                font-family: "HelveticaNeueCyr", sans-serif;
                font-size: 30px;
                font-weight: 700;
                line-height: 28.5px;
                letter-spacing: -0.02em;
                color: #342635;
            }

            .modal-notification__description {
                font-family: "HelveticaNeueCyr";
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0.01em;
                color: #342635;
            }

            .modal-notification__text {
                margin-top: 14px;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 5px;
                font-family: "HelveticaNeueCyr", sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.01em;
                color: #342635;

                span {
                    font-weight: 700;
                    line-height: 19px;
                    letter-spacing: -0.02em;
                    color: #984995;
                }
            }
        }

        .modal__chosen-form {
            display: flex;
            -moz-column-gap: 45px;
                 column-gap: 45px;

            label {
                display: flex;
                align-items: center;
                -moz-column-gap: 18px;
                     column-gap: 18px;

                input[type="radio"] {
                    display: none;
                }

                .radio {
                    width: 21px;
                    height: 21px;
                    border: 1px solid #c6c6c6;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        width: 13px;
                        height: 13px;
                        display: block;
                        border-radius: 50%;
                        z-index: 1001;
                        position: relative;
                        background-color: transparent;
                    }
                }

                input[type="radio"]:checked~.radio {
                    span {
                        width: 13px;
                        height: 13px;
                        display: block;
                        border-radius: 50%;
                        z-index: 1001;
                        position: relative;
                        background-color: #582f9a;
                    }
                }

                span {
                    font-family: "HelveticaNeueCyr", sans-serif;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 20.9px;
                    letter-spacing: 0.01em;
                    color: #342635;
                }
            }
        }
    }
}

.input__phone,
.input__email,
.input__password,
.input__login,
.input__text {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    letter-spacing: -0.02em;
    color: #494949;
    padding: 17px 25px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    border-right: 5px solid transparent;
    width: 100%;
}

.input__email::-moz-placeholder, .input__phone::-moz-placeholder, .input__password::-moz-placeholder, .input__login::-moz-placeholder, .input__text::-moz-placeholder {
    font-family: "Inter", sans-serif;
    color: #494949;
}

.input__email:-ms-input-placeholder, .input__phone:-ms-input-placeholder, .input__password:-ms-input-placeholder, .input__login:-ms-input-placeholder, .input__text:-ms-input-placeholder {
    font-family: "Inter", sans-serif;
    color: #494949;
}

.input__email::placeholder,
.input__phone::placeholder,
.input__password::placeholder,
.input__login::placeholder,
.input__text::placeholder {
    font-family: "Inter", sans-serif;
    color: #494949;
}

textarea {
    resize: none;
    outline: unset;
    border: unset;
    background-color: #f3f3f3;
    width: 100%;
    min-height: 139px;
    color: #494949;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    letter-spacing: -0.02em;
    box-sizing: border-box;
    padding: 20px 25px;
}

textarea::-moz-placeholder {
    color: #494949;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    letter-spacing: -0.02em;
}

textarea:-ms-input-placeholder {
    color: #494949;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    letter-spacing: -0.02em;
}

textarea::placeholder {
    color: #494949;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.57px;
    letter-spacing: -0.02em;
}

textarea:focus {
    outline: unset;
}

/*
Форма регистрации
*/
.registration {
    .registration__fields {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        .registration__text,
        .registration__email {
            background-color: #f3f3f3;
            height: 55px;
            width: 100%;
        }

        .registration__columns {
            display: flex;
            -moz-column-gap: 20px;
                 column-gap: 20px;
        }
    }

    .registration__register-button {
        background: linear-gradient(121.37deg,
                #582f9a 32.87%,
                #33145a 65.46%,
                #33145a 81.58%);
        border: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(274.38deg,
                #8d58e5 3.55%,
                #722dc7 81.16%);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.78px;
        letter-spacing: -0.02em;
        color: #ffffff;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 304px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .registration__register-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .registration__login-button {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.78px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #582f9a;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;

        span {
            width: 60px;
            height: auto;
            float: left;
            transition: 0.5s linear;
            position: relative;
            display: block;
            overflow: hidden;
            padding: 15px;
            text-align: center;
            margin: 0 5px;
            background: transparent;
        }

        span:before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            height: 4px;
            width: 100%;
            border-bottom: 4px solid transparent;
            border-left: 4px solid transparent;
            box-sizing: border-box;
            transform: translateX(100%);
        }

        span:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            box-sizing: border-box;
            transform: translateX(-100%);
        }

        span:hover {
            box-shadow: 0 5px 15px #582f9a;
        }

        span:hover:before {
            border-color: #582f9a;
            height: 100%;
            transform: translateX(0);
            transition: 0.3s transform linear, 0.3s height linear 0.3s;
        }

        span:hover:after {
            border-color: #582f9a;
            height: 100%;
            transform: translateX(0);
            transition: 0.3s transform linear, 0.3s height linear 0.5s;
        }
    }
}

.feedback-modal {
    width: 883px;

    .feedback {
        .feedback__fields {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        .feedback__columns {
            display: flex;
            -moz-column-gap: 20px;
                 column-gap: 20px;
        }

        .feedback__button {
            background: linear-gradient(121.37deg,
                    #582f9a 32.87%,
                    #33145a 65.46%,
                    #33145a 81.58%);
            border: 1px solid;
            border-image-source: linear-gradient(274.38deg,
                    #8d58e5 3.55%,
                    #722dc7 81.16%);
            border-image-slice: 1;
            color: #ffffff;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.78px;
            letter-spacing: -0.02em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            height: 60px;
            flex-shrink: 0;
        }

        .modal__aggrees {
            -moz-column-gap: 32px !important;
                 column-gap: 32px !important;

            .modal-aggrees__description {
                display: flex;
                -moz-column-gap: 11px;
                     column-gap: 11px;
            }
        }
    }
}

.reset-password-send-mail {
    .reset-password-send-mail__fields {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        p {
            font-family: 'HelveticaNeueCyr', sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 28.5px;
            letter-spacing: -0.02em;
            color: #342635;
        }

        .reset-password-send-mail__button {
            border: 1px solid;
            border-image-source: linear-gradient(274.38deg, #8D58E5 3.55%, #722DC7 81.16%);
            border-image-slice: 1;
            background: linear-gradient(121.37deg, #582F9A 32.87%, #33145A 65.46%, #33145A 81.58%);
            width: auto;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.78px;
            letter-spacing: -0.02em;
        }
    }
}

.reset-password-modal {
    .modal-header__title {
        font-size: 50px !important;
    }
}

.enter {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    width: 305px;

    .enter__fields {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        .enter__button {
            background: linear-gradient(121.37deg,
                    #582f9a 32.87%,
                    #33145a 65.46%,
                    #33145a 81.58%);
            border: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(274.38deg,
                    #8d58e5 3.55%,
                    #722dc7 81.16%);
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.78px;
            letter-spacing: -0.02em;
            color: #ffffff;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;
        }
    }

    .enter__buttons {
        flex-direction: column;
        row-gap: 20px;

        .enter__register-button {
            color: #582f9a;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.78px;
            letter-spacing: -0.02em;
            cursor: pointer;
        }

        .enter__register-button:hover {
            color: #494949;
        }

        .enter__login-button {
            color: #494949;
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.78px;
            letter-spacing: -0.02em;
            cursor: pointer;
        }

        .enter__login-button:hover {
            color: #582f9a;
        }
    }
}

.reset-password {
    .reset-password__fields {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .reset-password__button {
            background: linear-gradient(121.37deg,
                    #582f9a 32.87%,
                    #33145a 65.46%,
                    #33145a 81.58%);
            border: 1px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(274.38deg,
                    #8d58e5 3.55%,
                    #722dc7 81.16%);
            font-family: "Inter", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 21.78px;
            letter-spacing: -0.02em;
            color: #ffffff;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;
        }
    }
}

@media (min-width: 805px) and (max-width: 840px) {
    .modal__window {}
}

@media (min-width: 730px) and (max-width: 804px) {

    .modal-header__title,
    .modal-header__subtitle {
        font-size: 50px !important;
    }
}

@media (min-width: 320px) and (max-width: 730px) {

    .modal-header__title,
    .modal-header__subtitle {
        font-size: 30px !important;
        line-height: normal !important;
    }
}

@media (min-width: 320px) and (max-width: 650px) {
    .feedback__columns {
        flex-direction: column;
        row-gap: 20px;
    }
}


@media (min-width: 320px) and (max-width: 804px) {

    .registration-modal,
    .feedback-modal {
        width: calc(100% - 30px) !important;
    }

    .feedback-modal {
        .modal__aggrees {
            flex-direction: column;
            row-gap: 20px;
        }
    }

    .modal__window {
        height: auto !important;
        box-sizing: border-box;

        .modal__form {
            .modal-form__fields {
                .registration__columns {
                    flex-direction: column;
                    row-gap: 15px;
                }
            }
        }
    }
}

@media (min-width: 535px) and (max-width: 550px) {
    .modal__buttons {
        -moz-column-gap: 20px !important;
             column-gap: 20px !important;
    }
}

@media (min-width: 320px) and (max-width: 350px) {
    .modal-header__exit {
        right: 20px !important;
    }
}

@media (min-width: 320px) and (max-width: 534px) {

    .enter-modal,
    .feedback-modal,
    .reset-password-modal,
    .reset-password-send-mail-modal {
        width: calc(100% - 30px) !important;
    }

    .modal__window {
        padding: 30px !important;
        align-items: center;
        box-sizing: border-box;

        .modal__form {
            width: 100%;

            .modal-form__fields {
                input {
                    height: 50px !important;
                }
            }
        }

        .modal__buttons {
            flex-direction: column;
            align-items: center;
            row-gap: 15px;

            .registration__register-button {
                width: 100% !important;
            }
        }

        .modal__header {
            width: 100%;
        }

        .modal-header__title,
        .modal-header__subtitle {
            font-size: 20px !important;
        }

        .feedback__button {
            width: auto !important;
        }
    }

    .enter {
        width: calc(100% - 50px);
    }
}

@media (min-width: 320px) and (max-width: 690px) {
    .notification-modal {
        width: calc(100% - 30px);
    }
}
