main {
    width: 1348px;
    margin: auto;

    .contacts-headding {
        margin-top: 81px;

        .contacts-headding__title {
            margin: 30px 0 50px 0;
            font-family: "HelveticaNeueCyr", sans-serif;
            font-size: 60px;
            font-weight: 700;
            line-height: 59.7px;
            letter-spacing: -0.02em;
            color: #342635;
        }
    }

    .contacts-social {
        display: flex;
        column-gap: 47px;
        margin-bottom: 48px;

        .contacts-social__call {
            flex-grow: 1;
            padding: 51px 35px 40px 66px;
            background-color: #0e1237;
            background-image: url("/images/contacts/bg.png");
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            background-position-x: 503px;
            background-position-y: -25px;
            row-gap: 31px;

            .contacts-social__title {
                font-family: "Inter", sans-serif;
                font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -0.02em;
                color: #ffffff;
            }

            .contacts-social__contacts {
                display: flex;
                column-gap: 60px;

                .contacts-social__contact {
                    display: flex;
                    flex-direction: column;

                    .contacts-social-contact__phone {
                        font-family: "Inter", sans-serif;
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: -0.02em;
                        color: #ffffff;
                        text-decoration: none;
                        border-bottom: 2px solid transparent;
                        width: max-content;
                    }

                    .contacts-social-contact__phone:hover {
                        border-bottom-color: #ffffff;
                    }

                    .contacts-social-contact__title {
                        font-family: "Inter", sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 40px;
                        letter-spacing: -0.02em;
                        color: #ffffff;
                    }
                }
            }
        }

        .contacts-social__messangers {
            padding: 55px 77px 76px 77px;
            background-color: #0e1237;
            display: flex;
            flex-direction: column;
            row-gap: 25px;

            .contacts-social-messangers__title {
                font-family: "Inter", sans-serif;
                font-size: 24px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -0.02em;
                color: #ffffff;
            }

            .contacts-social-messangers-list {
                display: flex;
                align-items: center;
                column-gap: 38px;

                .contacts-social-messangers__telegram {
                    svg {
                        fill: #ffffff;
                    }
                }

                .contacts-social-messangers__vk {
                    svg {
                        fill: #ffffff;
                    }
                }

                .contacts-social-messangers__vk:hover {
                    svg {
                        fill: #26a9ea;
                    }
                }

                .contacts-social-messangers__telegram:hover {
                    svg {
                        fill: #4a76a8;
                    }
                }
            }
        }
    }

    .contacts-company-info {
        display: flex;
        column-gap: 47px;

        .contacts-company-info-wrapper {
            padding: 63px 59px 95px 61px;
            width: 456px;
            border: 1px solid #596b90;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .contacts-company-info__description {
                display: flex;
                flex-direction: column;

                .contacts-company-info__title {
                    font-family: "Inter", sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 40px;
                    letter-spacing: -0.02em;
                    color: #342635;
                    margin-top: 10px;
                }

                .contacts-company-info__text {
                    font-family: "Inter", sans-serif;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 40px;
                    letter-spacing: -0.02em;
                    color: #342635;
                    margin: 20px 0;
                }
            }

            .contacts-company-info__map-search {
                font-family: "Inter", sans-serif;
                font-size: 22px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: -0.02em;
                color: #582f9a;
                align-items: flex-end;
            }

            .contacts-company-info__map-search:hover {
                color: black;
            }
        }

        .contacts-company-info__map {
        }
    }

    .contacts-experts {
        margin-top: 100px;

        .contacts-experts__headding {
            font-size: 50px !important;
        }
    }

    .company-experts {
        margin-top: 30px;

        .company-experts__headding {
            font-family: "Inter", sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -0.02em;
            color: #000000;
            margin-bottom: 40px;
        }

        .company-experts-table {
            .company-experts-table__headding {
                height: 59px;
                display: flex;
                align-items: center;
                background-color: #0e1237;
                margin-bottom: 40px;
                padding: 0 36px;
                column-gap: 50px;

                .company-experts-table__header {
                    color: #ffffff;
                    font-family: "Inter", sans-serif;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 20.57px;
                    letter-spacing: -0.02em;
                }

                .company-experts-table__header:first-child {
                    flex-basis: 70%;
                }

                .company-experts-table__header:last-child {
                    flex-basis: 30%;
                }
            }

            .company-experts-table-row {
                display: flex;
                min-height: 140px;
                margin-bottom: 20px;
                padding: 0 36px 0 36px;
                column-gap: 50px;

                .company-experts-fio-block {
                    flex-basis: 70%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;

                    .company-experts__fio {
                        width: 70%;
                        font-family: "Inter", sans-serif;
                        font-size: 17px;
                        font-weight: 700;
                        line-height: 20.57px;
                        letter-spacing: -0.02em;
                        color: #342635;
                    }

                    .company-experts__description {
                        font-family: "Inter", sans-serif;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 20.57px;
                        letter-spacing: -0.02em;
                        color: #342635;
                    }
                }

                .company-experts-mail-block {
                    flex-basis: 30%;
                    /* align-items: center; */
                    display: flex;
                    flex-direction: column;

                    .company-experts__mail {
                        font-family: "Inter", sans-serif;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 20.57px;
                        letter-spacing: -0.02em;
                        color: #342635;
                        cursor: pointer;
                        text-decoration: unset;
                    }

                    .company-experts-mail__title {
                        display: none;
                        width: 70%;
                        font-family: "Inter", sans-serif;
                        font-size: 17px;
                        font-weight: 700;
                        line-height: 20.57px;
                        letter-spacing: -0.02em;
                        color: #342635;
                    }

                    .company-experts__mail:hover {
                        color: #000000;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    main {
        width: calc(100% - 30px);
        margin: auto;

        .contacts-headding {
            margin-top: 30px !important;

            .contacts-headding__title {
            }
        }

        .contacts-social {
            flex-direction: column;
            row-gap: 20px;

            .contacts-social__call {
                padding: 20px;

                .contacts-social__title {
                    font-size: 20px !important;
                }

                .contacts-social__contacts {
                    flex-direction: column;
                    row-gap: 20px;

                    .contacts-social-contact__phone {
                        font-size: 25px !important;
                    }
                }
            }

            .contacts-social__messangers {
                padding: 20px;

                .contacts-social-messangers__title {
                    font-size: 20px !important;
                }

                .contacts-social-messangers-list {
                    justify-content: center;
                }
            }
        }

        .contacts-company-info {
            flex-direction: column-reverse;
            row-gap: 20px;

            .contacts-company-info-wrapper {
                width: auto;
                padding: 20px;
            }
        }

        .company-experts-table {
            .company-experts-table__headding {
                .company-experts-table__header:nth-child(2) {
                    display: none;
                }
            }

            .company-experts-table-row {
                /* padding: 0 !important; */
                flex-direction: column;
                margin-bottom: 50px !important;
                row-gap: 20px;

                .company-experts-fio-block {
                    word-break: break-word;
                }

                .company-experts-mail-block {
                    word-break: break-word;
                    align-items: start !important;
                    row-gap: 20px;

                    .company-experts-mail__title {
                        display: flex !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    main {
        width: calc(100% - 30px);
        margin: auto;

        .contacts-headding {
            margin-top: 30px !important;

            .contacts-headding__title {
            }
        }

        .contacts-social {
            flex-direction: column;
            row-gap: 20px;

            .contacts-social__call {
                padding: 20px;

                .contacts-social__title {
                    font-size: 20px !important;
                }

                .contacts-social__contacts {
                    flex-direction: column;
                    row-gap: 20px;

                    .contacts-social-contact__phone {
                        font-size: 25px !important;
                    }
                }
            }

            .contacts-social__messangers {
                padding: 20px;

                .contacts-social-messangers__title {
                    font-size: 20px !important;
                }

                .contacts-social-messangers-list {
                }
            }
        }

        .contacts-company-info {
            flex-direction: column-reverse;
            row-gap: 20px;

            .contacts-company-info-wrapper {
                width: auto;
                padding: 20px;
            }
        }

        .company-experts-table {
            .company-experts-table__headding {
                .company-experts-table__header:nth-child(2) {
                    display: none;
                }
            }

            .company-experts-table-row {
                /* padding: 0 !important; */
                flex-direction: column;
                margin-bottom: 50px !important;
                row-gap: 20px;

                .company-experts-fio-block {
                    word-break: break-word;
                }

                .company-experts-mail-block {
                    word-break: break-word;
                    align-items: start !important;
                    row-gap: 20px;

                    .company-experts-mail__title {
                        display: flex !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    main {
        width: calc(100% - 30px);
        margin: auto;

        .contacts-headding {
            margin-top: 30px !important;

            .contacts-headding__title {
            }
        }

        .contacts-social {
            flex-direction: column;
            row-gap: 20px;

            .contacts-social__call {
                padding: 20px;

                .contacts-social__title {
                    font-size: 20px !important;
                }

                .contacts-social__contacts {
                    flex-direction: column;
                    row-gap: 20px;

                    .contacts-social-contact__phone {
                        font-size: 25px !important;
                    }
                }
            }

            .contacts-social__messangers {
                padding: 20px;

                .contacts-social-messangers__title {
                    font-size: 20px !important;
                }

                .contacts-social-messangers-list {
                }
            }
        }

        .contacts-company-info {
            flex-direction: column-reverse;
            row-gap: 20px;

            .contacts-company-info-wrapper {
                width: auto;
                padding: 20px;
            }
        }

        .company-experts-table {
            .company-experts-table__headding {
                .company-experts-table__header:nth-child(2) {
                    display: none;
                }
            }

            .company-experts-table-row {
                /* padding: 0 !important; */
                flex-direction: column;
                margin-bottom: 50px !important;
                row-gap: 20px;

                .company-experts-fio-block {
                    word-break: break-word;
                }

                .company-experts-mail-block {
                    word-break: break-word;
                    align-items: start !important;
                    row-gap: 20px;

                    .company-experts-mail__title {
                        display: flex !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    main {
        width: calc(100% - 30px);

        .contacts-social {
            flex-direction: column;
            row-gap: 20px;
        }

        .contacts-headding {
            margin-top: 30px !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 1230px) {
    .company-experts-table__headding {
        column-gap: 20px;
    }
    .company-experts-mail-block {
        align-items: start !important;
    }
    .contacts-company-info {
        flex-direction: column-reverse;
        row-gap: 20px;

        .contacts-company-info-wrapper {
            width: auto !important;
        }
    }
}

@media (min-width: 801px) and (max-width: 1245px) {
    main {
        width: calc(100% - 30px);

        .contacts-social__call {
            padding: 30px !important;

            .contacts-social__contacts {
                flex-direction: column;
                row-gap: 20px;
            }
        }

        .contacts-social__messangers {
            padding: 30px !important;
        }
    }
}

@media (min-width: 1245px) and (max-width: 1440px) {
    main {
        width: calc(100% - 30px);
    }
}

@media (min-width: 1921px) {
    main {
        width: 1351px !important;
    }
}
