main {
    width: 1348px;
    margin: auto;
}

.news-headding {
    margin-top: 80px;
}

.news {
    display: flex;
    flex-direction: row;

    .news-list {
        margin: 67px 0 50px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 77px 35px;

        .news__card {
            transition: transform .3s linear;
            cursor: pointer;
            width: 425px;
            display: flex;
            flex-direction: column;

            .news__img {
                width: 100%;
                object-fit: cover;
                margin-bottom: 30px;
            }

            .news__date {
                margin-bottom: 6px;
                color: #342635;
                opacity: .6;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 20.8px;
                letter-spacing: -0.02em;
            }

            .news__text {
                font-family: 'Inter', sans-serif;
                font-size: 24px;
                font-weight: 500;
                line-height: 28.8px;
                letter-spacing: -0.01em;
                color: #342635;
                transition: color .3s linear;
            }
        }
    }
}

@media (hover: hover) {
    .news__card:hover {
        transform: scale(1.1);

        .news__text,
        .editor_text {
            color: #582F9A;
        }
    }
}

@media (min-width: 320px) and (max-width:374px) {
    main {
        width: 100%;

        .news-headding {
            width: calc(100% - 30px);
            margin: 30px auto 0;
        }

        .news {
            margin-top: 0 !important;

            .news-list {
                margin-top: 30px;
                row-gap: 40px;
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    main {
        width: 100%;

        .news-headding {
            width: calc(100% - 30px);
            margin: 30px auto 0;
        }

        .news {
            margin-top: 0 !important;

            .news-list {
                margin-top: 30px;
                row-gap: 40px;
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    main {
        width: 100%;

        .news-headding {
            width: calc(100% - 30px);
            margin: 30px auto 0;
        }

        .news {
            margin-top: 0 !important;

            .news-list {
                justify-content: center;
                margin-top: 30px;
                row-gap: 40px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    main {
        width: 100%;

        .news-headding {
            width: calc(100% - 30px);
            margin: 30px auto 0;
        }

        .news {
            margin-top: 0 !important;

            .news-list {
                column-gap: 40px;
                justify-content: center;
                margin-top: 30px;
                row-gap: 40px;

                .news__card {
                    width: calc(100% / 2 - 20px);
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    main {
        width: 100%;

        .news-headding {
            width: calc(100% - 30px);
            margin: 30px auto 0;
        }

        .news {
            padding: 50px 15px 0 15px;
            margin-top: 0 !important;

            .news-list {
                column-gap: 30px;
                justify-content: center;
                margin-top: 30px;
                row-gap: 40px;

                .news__card {
                    width: calc(100% / 3 - 20px);
                }
            }
        }
    }
}

@media (min-width: 1921px) {
    main {
        width: 1351px !important;
    }
}