.btn-main,
.btn {
  border: none;
  color: #000;
  border-radius: $border-radius-modern;
  display: inline-flex;
  background: #fff;
  text-decoration: none;
  padding: 10px 45px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition-duration: $animation-fast;
  // img {
  //   margin-left: 10px;
  // }
  // &::after {
  //   content: "";
  //   width: 56px;
  //   height: 56px;
  //   background: url("/src/images/content/arrow.png");
  //   background-size: contain;
  //   border-left: 2px solid $color-second;
  //   margin-left: 40px;
  // }
  &:hover {
    transform: scale(1.01);
  }
  &:active {
    transform: scale(0.99);
  }
}
.btn-main.btn-xl,
.btn.btn-xl {
  font-size: $font-size-small;
  line-height: 150%;
  &::after {
    content: "";
    width: 62px;
    height: 62px;
  }
}
