.splide__arrows {
}

$sliderArrowW: 32px;
$sliderArrowH: 32px;
.splide__arrow--prev,
.splide__arrow--next {
  background: none;
  width: $sliderArrowW;
  height: $sliderArrowH;
  img {
  }
  &:hover {
    border: none;
    background: none;
  }
}
.splide__arrow--next {
  top: calc(100% / 2);
  right: calc(($sliderArrowW + 10px) * (-1));
}

.splide__arrow--prev {
  top: calc(100% / 2 - $sliderArrowH/ 2);
  transform: scale(-1, 1) !important;
  left: calc(($sliderArrowW + 10px) * (-1));
}
