html {
  // scroll-behavior: smooth;
}

body {
  font-family: $font-family-main;
  font-weight: 400;
  color: $color-font-main;
  font-size: $font-size-extra-small;
  @include hidden-scrollbars;
  background: white;
}
body.overflow {
  overflow: hidden;
}
.colorfull {
  background: linear-gradient(90deg, #7f80ec 0%, #f78ff7 56.25%, #ff8e48 100%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
a {
  color: $color-font-second;
}
a.colorfull {
  color: $color-font-second;
  position: relative;
  cursor: pointer;
  background: none;
  text-fill-color: $color-font-second;
  -webkit-text-fill-color: $color-font-second;
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #7f80ec 0%, #f78ff7 56.25%, #ff8e48 100%), #ffffff;

    position: absolute;
    bottom: -37px;
    left: calc(0);
    transform: scaleX(0);
    transition-duration: $animation-fast;
  }
  &:hover {
    padding: 0;

    font-weight: 700;
    text-decoration: none;
    background: linear-gradient(90deg, #7f80ec 0%, #f78ff7 56.25%, #ff8e48 100%), #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    &::after {
      transform: scaleX(1);
    }
  }
}
b {
  font-weight: 700;
}
h1 {
  font-size: 90px;
  font-family: $font-family-second;
  font-weight: 400;
  line-height: 92%;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-l) {
    font-size: $font-size-big;
  }
  @media (max-width: $breakpoint-m) {
    font-size: $font-size-medium;
  }
  @media (max-width: $breakpoint-s) {
    font-size: 42px;
  }
}
h2 {
  font-family: $font-family-second;
  font-weight: 400;
  font-size: 50px;
  line-height: 130%;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-m) {
    font-size: $font-size-medium;
  }
  @media (max-width: $breakpoint-s) {
    font-size: 42px;
  }
}
h3 {
  font-style: normal;
  line-height: 1.2;
  font-weight: 500;
  font-size: 50px;
  @media (max-width: $breakpoint-m) {
    font-size: $font-size-medium;
  }
  @media (max-width: $breakpoint-s) {
    font-size: 42px;
  }
}
mark {
  color: $color-main;
  background: none;
}
